<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="header :: headerBlock"></div>
<meta charset="UTF-8">
<title>Formulário</title>
</head>
<body>
	<div th:insert="header :: navBar"></div>
	<div class="container">
		<form th:object="${cargo}" th:action="|/cargo/${action}|"
			method="post">
			<div th:if="${#fields.hasAnyErrors()}">
				<div class="alert alert-danger text-italic"
					th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
			</div>
			<div class="alert alert-danger text-italic" th:if="${error}"
				th:text="${error}"></div>
			<input type="hidden" th:field="*{id}">
			<div class="form-group">
				<label for="exampleInputNome">Nome</label> <input type="text"
					th:field="*{nome}" class="form-control" id="exampleInputNome"
					aria-describedby="Nome" placeholder="Entre com o Nome">
			</div>
			<div class="form-group">
				<label for="exampleInputNomeAbreviado">Descrição: </label> <input
					type="text" th:field="*{descricao}" class="form-control"
					id="exampleInputNomeAbreviado" aria-describedby="DescricaoAbreviado"
					placeholder="Entre com a descricao">
			</div>
			<div class="form-group">
				<label for="exampleInputDescricaoAbreviada">Descrição Abreviada</label> <input type="text"
					th:field="*{descricaoAbreviada}" class="form-control" id="exampleInputDescricaoAbreviada"
					aria-describedby="descricaoAbreviadaHelp" placeholder="Entre com a descricao abreviada">
			</div>
			<label for="empresa principal">Ativo: </label>
			<div class="form-check form-check-inline">
				<input class="form-check-input" th:field="*{situacao}" type="radio" name="inlineRadioAtivo"
					id="inlineRadio1Ativo" th:value="${true}" checked>
					<label class="form-check-label" for="inlineRadioAtivo">SIM</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" th:field="*{situacao}" type="radio" name="inlineRadioAtivo"
					id="inlineRadio2Ativo" th:value="${false}">
					<label class="form-check-label" for="inlineRadioAtivo">NÃO</label>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
</html>